<launch>
    <!-- 
    @author: Baran Berk Bağcı-->

    <!-- Axes -->
    <param name="Forward" value="w" type="string" />
    <param name="Backward" value="s" type="string" />
    <!--2 for ertugrul-->
    <param name="Left turn" value="a" type="string" />
    <param name="Right turn" value="d" type="string" />
    <param name="Right linear" value="e" type="string" />
    <param name="Left linear" value="q" type="string" />
    <node pkg="rover_keyboard_twist" name="steering_v2" type="steering_v2" output="screen" />
    <!-- Run steering_v2.cpp script -->
    <node pkg="rover_keyboard_twist" name="keyboard_twist_sim" type="keyboard_twist_sim" output="screen" />
    <!--Run joy2twist.cpp script -->
</launch>